@tailwind base;
@tailwind components;
@tailwind utilities;

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar-custom{
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #290166; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #f898ff; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners */
}

/* For Firefox */
* {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #f898ff #290166; /* thumb color, track color */
}


